body {
  background-repeat: no-repeat;
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  font-family: 'Muli', "Helvetica", Arial, sans-serif;
}
.submit-button {
  text-align: center;
  margin-bottom: 10px;
}
.registration-form {
  margin: 15px 0px;
  padding: 0px 15px;
  min-width: 350px;
}
.registration-form .container {
  margin: 15px auto;
  background: #fdfdfd;
  max-width: 480px;
  border: 2px rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-radius: 10px;
}
.registration-form .container form {
  margin: 15px auto;
  max-width: 400px;
}
.registration-form .container form #div_id_mobile_no div select {
  margin-bottom: 10px;
}
.registration-form .container h3 {
  margin: 15px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.btn-primary {
  background-color: #1c3f50;
}
.btn-primary:hover .btn-primary:active .btn-primary:focus {
  background-color: rgba(28, 63, 80, 0.6);
}
