body {
  background-repeat: no-repeat;
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  font-family: 'Muli', "Helvetica", Arial, sans-serif;
}
.submit-button {
  text-align: center;
  margin-bottom: 10px;
}
.registration-form {
  margin: 15px 0px;
  padding: 0px 15px;
  min-width: 350px;
}
.registration-form .container {
  margin: 15px auto;
  background: #fdfdfd;
  max-width: 500px;
  border: 2px rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-radius: 10px;
  min-width: 300px;
}
.registration-form .container form {
  margin: 15px auto;
  max-width: 400px;
}
.registration-form .container form #div_id_mobile_no div select {
  margin-bottom: 10px;
}
.registration-form .container h3, .registration-form .container h4 {
  margin: 15px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.btn-primary {
  background-color: #1c3f50;
}
.btn-primary:hover .btn-primary:active .btn-primary:focus {
  background-color: rgba(28, 63, 80, 0.6);
}
.red{
  color: red;
  background-color: transparent !important;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 18px;
}
.input-field label{
  color: #37474f;
}
label{
  font-size: 14px;
  color: #37474f;
}
.input-field label:not(.label-icon).active {
    font-size: 14px;
}
input{
  border-bottom: 1px solid #37474f;
  box-shadow: 0 1px 0 0 #37474f;
}
.caret{
  border-top: 0px dashed;
}
img{
  /*max-width: 52px;*/
  margin-top: -9px;
  width: auto !important;
}
.img-left{
  height: 90px;
}
.img-right{
  height: 120px;
  float: right;
}
table{
  margin-bottom: -20px !important;
}
table td{
  vertical-align: middle !important;
}