{% load staticfiles %}
<head><meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'img/interiit_favicon.ico' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Muli:400,300|Ubuntu:400,400italic|Gabriela|Roboto:400,300,700,100|Open+Sans:300italic,400italic,600italic,400,700,300,600|Open+Sans+Condensed:300|Exo+2">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
</head>
<body>
    <div id="register-page">
        <div class="container">
            <div id="description" class="form-group">Please select below to go to the registration page.</div>
            <div id='sport-selector' class="form-group">
                <label for="sel1">Select Sport:</label>
                <select class="form-control" id="sel1">
                    <option value="aquatics">Aquatics</option>
                </select>
            </div>

            <div id='category-selector' class="form-group">
                <label for="sel1">Select Category:</label>
                <select class="form-control" id="sel2">
                    <option value="---">---</option>
                    <option value="participant">Participant</option>
                    <option value="facultyandstaff">Faculty and Staff</option>
                </select>
            </div>

            <div id='gender-selector' class="form-group hide">
                <label for="sel1">Select Gender:</label>
                <select class="form-control" id="sel3">
                    <option value="men">Male</option>
                    <option value="women">Female</option>
                </select>
            </div>
            <div id="btn1" class="col-xs-12">
                <button id='btn-click' class="btn btn-default" onclick="getRegistrationForm()">Get Registration form</button>
            </div>
        </div>
    </div>
</body>